*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.single-column{
    width: 50%;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.light-container{
    background-color: #b4e4f0;
    padding: 48px 0px;
}
.dark-container{
    background-color: #81a5a5;
    color: white;
    padding: 48px 0px;
}
.bleach1{
    width: 20px;
}