/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block{
    border-style: outset;
    border-width: 12px;
    display: inline-block;
    padding: 20px;
}
.red{
    background-color: red;
    border-color: crimson;
    transform: rotate(45deg);
}
.yellow{
    background-color: yellow;
    border-color: yellow;
    transform: rotate(45deg);
}
.green{
    background-color: green;
    border-color: forestgreen;
    transform: rotate(45deg);
}
.blue{
    background-color: blue;
    border-color: blue;
    transform: rotate(45deg);
}
.purple{
    background-color: purple;
    border-color: rgb(112, 1, 112);
    transform: rotate(45deg);
}
.orange{
    background-color: orange;
    border-color: orange;
    transform: rotate(45deg);
}
.pink{
    background-color: pink;
    border-color: pink;
    transform: rotate(45deg);
}