#heading-1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
}
#img1 img {
    display: block;
    width: 300px;
    margin: auto;
}
#P-1 {
    font-size: 20px;
    text-align: center;
}
#P-2 {
    font-size: 15px;
    text-align: center;
}
#P-3 {
    border: outset gold;
    background-color: gold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}