*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: sans-serif;
}
#two-columns{
    display: flex;
}
#sidebar-content{
    background-color: #ffffff;
    width: 250px;
    padding: 24px;
}
#main-content{
    background-color: rgb(255, 255, 255); 
    flex: 1;
}
#sidebar-content h2{
    border-bottom: 2px solid gray;
    padding-bottom: 8px;
}
#sidebar-content ul{
    list-style-type: none;
    padding: 0px;
}

#sidebar-content ul a{
    color: #111111;
    text-decoration: none;
}

#sidebar-content ul li{
    padding: 4px 0px;
}
#main-content h1{
    font-style: italic;
    font-family: serif;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
#main-content h3{
    font-family: serif;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-size: 30px;
}
#p1{
    font-style: italic;
}