div{
    text-align: center;
    border: 10px inset red;
    margin: 25px 25px 25px 25px;
    padding: 25px 25px;
    background-color: peachpuff;
}
p{
    text-align: right;
    border: 9px dashed plum;
    margin: 50px 50px 50px 50px;
    padding: 15px;
    background-color: pink;
    font-style: italic;
    border-radius: 25px;
}