#poster{
    border: 10px solid #641919;
    margin: 15px;
    width: 100px;
    padding: 10px;
    background-color: white;
}
#poster2{
    border: 10px solid #641919;
    margin: 15px;
    width: 100px;
    padding: 10px;
    background-color: white;
}
#poster3{
    border: 10px solid #641919;
    margin: 15px;
    width: 100px;
    padding: 10px;
    background-color: white;
}
img{
    width: 100px;
}
#frametext{
    background-color: wheat;
    border:10px solid #641919;
    width: 100px;
    padding: 25px;
    text-align: center;
}